.card-time {
  font-family: "LcdD";
  font-style: normal;
  font-size: 3rem;
  position: relative;
}

.card-time .timezone {
  position: absolute;
  top: 3px;
  left: 3px;
  line-height: 1;
  font-size: 10px;
  color: darkgrey;
}
