html {
  margin: 0;
}

body {
  margin: 0;
  background-color: rgb(141 241 241 / 33%);
  background-position: center;
  background-size: auto;
}

body > pre {
  display: none;
}
#app {
  min-height: 100vh;
  background-color: white;
}

@font-face {
  font-family: "LcdD";
  src: url("./LcdD.ttf");
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.card {
  flex: auto;
  min-width: 200px;
  max-width: 200px;
  height: 80px;
  line-height: 70px;
  margin: 10px 0 0 10px;
  border-radius: 8px;
  background-color: azure;
  text-align: center;
}

.loading {
  position: absolute;
  height: 2px;
  width: 0%;
  overflow: hidden;
  background-color: rgb(142, 202, 108);
  color: rgb(142, 202, 108);
  margin: 0 100% 0 0;
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
}
.loading:hover {
  display: block;
  width: 100%;
  margin-right: 0;
}
