.setting-header {
  margin: 0;
  padding: 10px 0;
  background-color: var(--bg-color);
}

.setting {
  padding-bottom: 1rem;
  background-color: var(--bg-color);
}

.setting-city p {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.setting-city select {
  min-width: 300px;
  min-height: 500px;
  border-color: #ebebeb;
  border-width: 1px;
}

.setting-city input {
  border: 1px solid skyblue;
  padding: 5px;
  font-size: large;
  width: 300px;
}

.setting-city input:focus-visible {
  outline: 1px solid skyblue;
}

.setting-city ul {
  padding-left: 0;
  list-style: none;
}

.setting-city ul li {
  padding-bottom: 0.5rem;
}

.setting-city ul li:hover {
  text-decoration: underline;
  cursor: default;
}

.setting-cityselect {
  min-width: 50px;
  text-align: right;
  color: var(--ft-color);
}

.setting-citylist span {
  padding-right: 0.5rem;
  display: inline-block;
}
