.card-weather {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-weather sup {
  font-size: medium;
  font-weight: bold;
}
.weather-icon {
  font-size: 3.2rem;
  width: 80px;
}
.weather-textinfo {
  display: inline-block;
  width: 100px;
  line-height: 1.1rem;
  text-align: left;
  font-size: 12px;
}
.weather-temperature {
  font-size: 2rem;
  margin-left: -1px;
}
.weather-location-icon {
  display: inline-block;
  transform: rotate(315deg);
  /* translate: 2px -2px; */
  margin-right: 2px;
  color: #000000ba;
}
