.weather-info {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
}
.weather-icon,
.weather-text {
  display: inline-block;
}
.weather-icon {
  width: 80px;
  font-size: 3.2rem;
  text-align: center;
}
.weather-text {
  width: 100px;
  text-align: left;
  font-size: 12px;
}
.weather-temperature {
  font-size: 1.5rem;
  margin-left: -1px;
}

.weather-temperature sup {
  font-size: 12px;
}
