.card-count {
  display: grid;
  grid-template-rows: max-content 0 1fr;
  margin: 5px;
  font-size: 20px;
  cursor: default;
  user-select: none;
  min-height: 72px;
  line-height: 72px;
}

.card-count__count {
  min-width: 36px;
  display: inline-block;
  text-align: center;
}
